<form class="login-form" method="POST" action="{% url 'updatecompanyprofile'%}">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group position-relative">
                <label>Select Role <span class="text-danger">*</span></label>
                <select name="verify" id="">
                    <option >==Select Option===</option>
              
                    <option >True</option>
                    <option >False</option>
                  
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
        <hr>
</form>